html{
	margin:0;
	max-width:100%;
	overflow:hidden;

	scrollbar-color: var(--main-text-color) var(--main-sc-color);
	scrollbar-width: thin;
}

body {
	margin: auto;
	margin-top:0;
	padding: 0;
	justify-content: center;
	align-items: center;
	text-align:center;

	cursor: auto;
	overflow: hidden; /* Hide scrollbars */

	min-width: 320px;
	min-height:480px;
	max-height:100%;
	max-width:100%;

	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-size: var(--text-md);
	font-family:Montserrat;
	line-height: var(--medium-spacing);
}



.page{
	display:none;
	opacity:0;
	flex-direction:column;
	animation: disappear 0.1s ease-out 1;
	width:0vw;
}

.active{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	animation: appear 0.1s ease-out 1;
	opacity:1;
	flex-grow:1;
	width:100%;
	height:100%;
	margin:0;
}

.container {
	display:flex;
	flex-direction:row;

	overflow-y:scroll;
	overflow-x:hidden;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
	
	margin:0;
	padding:auto;
	margin-top:max(130px,13vh);
	margin-bottom:max(80px,5vh);

	width:100vw;
	height:max(80vh);
}
@media screen and (max-height:720px) and (min-height:640px) {
    .container{
		height:max(68vh);
    }
}

@media screen and (max-height:640px) and (min-height:600px) {
    .container{
		height:max(64vh);
    }
}

@media screen and (max-height:600px) {
    .container{
        margin-top:max(65px,6.5vh);
    }
}

#map-page{
	justify-content:start;
}