html{
	margin:0;
	max-width:100%;
	overflow:hidden;

	scrollbar-color: var(--main-text-color) var(--main-sc-color);
	scrollbar-width: thin;
}

body {
	margin: auto;
	margin-top:0;
	padding: 0;
	justify-content: center;
	align-items: center;
	text-align:center;

	cursor: auto;
	overflow: hidden; /* Hide scrollbars */

	min-width: 320px;
	min-height:480px;
	max-height:100%;
	max-width:100%;

	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-size: var(--text-md);
	font-family:Montserrat;
	line-height: var(--medium-spacing);
}


.pages{
	display:flex;
	flex-direction:row;
	overflow-x:hidden;
	margin:0;
	padding:auto;
	flex-grow:1;
	margin-top:max(130px,13vh);
}

@media screen and (max-height:600px) {
    .pages{
        margin-top:max(65px,6.5vh);
    }
}

.page{
	display:none;
	opacity:0;
	flex-direction:column;
	width:0vw;
	flex-grow:1;
}

.active{
	display:flex;
	opacity:1;
	flex-grow:1;
}

.container {
	display:flex;
	flex-direction:column;
	overflow-y:scroll;
	overflow-x:hidden;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#main-page{
	margin-top:20vh;
}

@media screen and (max-height:640px) and (min-height:0px) {
	#main-page{
		margin-top:5vh;
	}
}

@media screen and (max-height:720px) and (min-height:640px) {
	#main-page{
		margin-top:10vh;
	}
}

@media screen and (max-height:960px) and (min-height:720px) {
	#main-page{
		margin-top:15vh;
	}
}

.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}